<a href="https://colab.research.google.com/github/angelafrocha/Estatistica-com-Python-para-analise-de-dados/blob/main/AmostragemEnem2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Amostragem
Projeto usando o dataframe tratado do repoistório Enem2019 do Github para demonstrar os tipos de técnicas de amostragem que pode ser feitos usando as bibliotecas pandas e numpy.

**Amostragem:** Amostragem é o ato de analisar uma parte do evento observado com o intuito de saber como a população se comporta, sem necessariamente analisar a população como um todo. A seguir criarei dataframes com os seguintes tipos de amostragem: aleatória simples, sistemática, estradificada e agrupamento(conglomerado)

Os dados aqui se referem a todos os classificados no enem 2019 do estado de São Paulo

Dados Originais: INEP

Dados tratados:  https://drive.google.com/file/d/1edacFMquCBOQ-y04txGAYZDrUcMlONu3/view?usp=share_link

##Importação das bibliotecas e conexão com o Google Drive

In [109]:
import pandas as pd
import numpy as np

In [110]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Extração dos Dados

In [111]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/microdados_enem_2019/enem_2019_tratado.csv',
                 sep= ',',
                 encoding='iso-8859-1')

In [112]:
pd.set_option('display.max_columns',100)

In [113]:
df.shape

(499940, 28)

In [114]:
df.head(5)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,solterio,parda,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,564.6,585.8,592.9,600.2,ingles,1.0,160.0,200.0,180.0,200.0,200.0,940.0,sim
1,"1,90E+11",São Paulo,17,F,solterio,parda,brasileiro,2,privada,15567761.0,Belém,1,1,1,1,576.2,641.1,634.3,731.8,ingles,1.0,160.0,120.0,200.0,200.0,200.0,880.0,nao
2,"1,90E+11",São Bernardo do Campo,19,M,solterio,parda,brasileiro,2,publica,35904958.0,São Bernardo do Campo,1,1,1,1,402.2,424.8,509.6,393.2,espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,sim
3,"1,90E+11",Embu-Guaçu,17,F,solterio,parda,brasileiro,2,publica,NaN,NaN,1,1,1,1,399.6,426.8,487.2,419.2,ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,sim
4,"1,90E+11",Guarulhos,23,F,solterio,branca,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,625.7,646.5,629.3,796.1,ingles,1.0,160.0,200.0,180.0,180.0,160.0,880.0,sim

In [115]:
#Para essa análise usarei apenas os vestibulandos de Campinas
df_campinas = df.loc[df.NO_MUNICIPIO_RESIDENCIA == 'Campinas']

In [116]:
#verificando se ficou listado apenas o município de Campinas
df_campinas['NO_MUNICIPIO_RESIDENCIA'].unique()

array(['Campinas'], dtype=object)

In [117]:
#Verificando a quantidade de classificados Enem 2019 em Campinas
df_campinas.shape

(13198, 28)

##Amostragem Aleatória Simples
Seleção executada por meio de sorteio, sem nenhum filtro

In [118]:
#Gerando semente aleatória(caso queira sempre uma nova amostra, deixar o parênteses vazio)
np.random.seed(1)

In [119]:
#Gerando df de com amostra de 20% do df_campinas
dfa1_simples = df_campinas.sample(frac=0.20)

In [120]:
#Veridicando se está correto
dfa1_simples.shape

(2640, 28)

In [121]:
dfa1_simples.tail(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
221397,"1,90E+11",Campinas,19,F,solterio,branca,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,471.3,561.1,591.8,524.8,espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,sim
76628,"1,90E+11",Campinas,17,M,nao_informado,branca,brasileiro,2,publica,35018797.0,Campinas,1,1,1,1,559.5,559.8,560.5,649.7,ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,sim
126402,"1,90E+11",Campinas,17,F,solterio,parda,brasileiro,2,publica,35039901.0,Campinas,1,1,1,1,471.8,507.5,525.4,376.6,espanhol,1.0,120.0,160.0,140.0,120.0,140.0,680.0,sim

Está ok. Temos então uma amostra aleatória de 20% dos dados dos vestibulando enem2019 de Campinas

In [122]:
#Agora, selecionando aleatoriamente 3000 registros
dfa2_simples = df_campinas.sample(3000)

In [123]:
#Verificando se está correto
dfa2_simples.shape

(3000, 28)

In [124]:
dfa2_simples.tail(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
467039,"1,90E+11",Campinas,17,F,solterio,preta,brasileiro,2,publica,NaN,NaN,1,1,1,1,456.8,432.9,520.3,382.6,ingles,1.0,80.0,120.0,100.0,100.0,100.0,500.0,sim
189967,"1,90E+11",Campinas,19,F,solterio,parda,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,409.1,55.6,51.6,455.1,espanhol,1.0,100.0,140.0,120.0,140.0,120.0,620.0,nao
282921,"1,90E+11",Campinas,18,F,solterio,parda,brasileiro,2,publica,35812900.0,Campinas,1,1,1,1,459.3,412.3,533.6,511.2,ingles,1.0,120.0,140.0,120.0,140.0,140.0,660.0,sim

##Amostragem Sistemática
Os membros da população são ordenados numericamente e selecionados aleatóriamente, obedecendo uma sequência numérica

###Range definido pelo pesquisador

In [125]:
# Observando a quantidade de registros da população
df_campinas.shape

(13198, 28)

In [126]:
# Gerando uma semente aleatória para escolher aleatoriamente o número inicial
np.random.seed(2)
inicio1 = np.random.choice(10,1)

In [127]:
#Verificando onde irá iniciar
inicio1

array([8])

In [128]:
# Definindo a lista dos registros com o range e a sequencia escolhida a partir do inicío
# farei aqui de 100 em 100 até o ultimo registro a partir do início aleatório
amostra2_1 = np.arange(inicio1,13198,100)
amostra2_1

array([    8,   108,   208,   308,   408,   508,   608,   708,   808,
         908,  1008,  1108,  1208,  1308,  1408,  1508,  1608,  1708,
        1808,  1908,  2008,  2108,  2208,  2308,  2408,  2508,  2608,
        2708,  2808,  2908,  3008,  3108,  3208,  3308,  3408,  3508,
        3608,  3708,  3808,  3908,  4008,  4108,  4208,  4308,  4408,
        4508,  4608,  4708,  4808,  4908,  5008,  5108,  5208,  5308,
        5408,  5508,  5608,  5708,  5808,  5908,  6008,  6108,  6208,
        6308,  6408,  6508,  6608,  6708,  6808,  6908,  7008,  7108,
        7208,  7308,  7408,  7508,  7608,  7708,  7808,  7908,  8008,
        8108,  8208,  8308,  8408,  8508,  8608,  8708,  8808,  8908,
        9008,  9108,  9208,  9308,  9408,  9508,  9608,  9708,  9808,
        9908, 10008, 10108, 10208, 10308, 10408, 10508, 10608, 10708,
       10808, 10908, 11008, 11108, 11208, 11308, 11408, 11508, 11608,
       11708, 11808, 11908, 12008, 12108, 12208, 12308, 12408, 12508,
       12608, 12708, 12808, 12908, 13008, 13108])

In [129]:
# Criando o dataframe com os índices sistemátizados
# iloc para localizar por índice; dentro do vetor amostra, 
# :(para pegar todas as colunas referentes a esse registro)
dfa2_sistem = df_campinas.iloc[amostra2_1,:]

In [130]:
dfa2_sistem.shape

(132, 28)

In [131]:
# Verificando a amostra sistemática
dfa2_sistem.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
401,"1,90E+11",Campinas,18,F,solterio,branca,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,614.8,657.2,592.5,68.6,ingles,1.0,160.0,160.0,180.0,160.0,200.0,860.0,sim
5079,"1,90E+11",Campinas,18,F,solterio,branca,brasileiro,2,publica,35018855.0,Campinas,1,1,1,1,433.1,494.7,505.1,419.9,ingles,1.0,140.0,120.0,120.0,120.0,140.0,640.0,sim
9218,"1,90E+11",Campinas,19,F,solterio,branca,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,605.4,593.5,628.8,617.1,ingles,1.0,120.0,120.0,120.0,120.0,120.0,600.0,sim

###Range aleatório

In [132]:
# Gerando a semente aleatória (número do parênteses decidido casualmente)
np.random.seed(6)

In [133]:
#definindo um índice aleatório até o índice 10
inicio2 = np.random.choice(10,1)
inicio2

array([9])

In [134]:
# definindo o range aleatóriamente entre 100 e 150
passo = np.random.randint(100,150,1)
passo

array([135])

In [135]:
# Definindo a lista dos registros com o range e a sequencia escolhida aleatoriamente a partir do inicío2
#ficará de 103 em 103 até o ultimo registro a partir do início aleatório
amostra2_2 = np.arange(inicio2,13198,103)
amostra2_2

array([    9,   112,   215,   318,   421,   524,   627,   730,   833,
         936,  1039,  1142,  1245,  1348,  1451,  1554,  1657,  1760,
        1863,  1966,  2069,  2172,  2275,  2378,  2481,  2584,  2687,
        2790,  2893,  2996,  3099,  3202,  3305,  3408,  3511,  3614,
        3717,  3820,  3923,  4026,  4129,  4232,  4335,  4438,  4541,
        4644,  4747,  4850,  4953,  5056,  5159,  5262,  5365,  5468,
        5571,  5674,  5777,  5880,  5983,  6086,  6189,  6292,  6395,
        6498,  6601,  6704,  6807,  6910,  7013,  7116,  7219,  7322,
        7425,  7528,  7631,  7734,  7837,  7940,  8043,  8146,  8249,
        8352,  8455,  8558,  8661,  8764,  8867,  8970,  9073,  9176,
        9279,  9382,  9485,  9588,  9691,  9794,  9897, 10000, 10103,
       10206, 10309, 10412, 10515, 10618, 10721, 10824, 10927, 11030,
       11133, 11236, 11339, 11442, 11545, 11648, 11751, 11854, 11957,
       12060, 12163, 12266, 12369, 12472, 12575, 12678, 12781, 12884,
       12987, 13090, 13193])

In [136]:
# Criando o dataframe com os índices sistemátizados
dfa2_sistem2 = df_campinas.iloc[amostra2_2,:]

In [137]:
dfa2_sistem2.shape

(129, 28)

In [138]:
dfa2_sistem2.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
469,"1,90E+11",Campinas,18,M,solterio,nao_declarado,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,626.4,610.2,601.2,669.4,ingles,1.0,140.0,180.0,120.0,160.0,120.0,720.0,sim
5241,"1,90E+11",Campinas,18,F,solterio,parda,brasileiro,2,publica,35047200.0,Campinas,1,1,1,1,428.2,499.8,536.1,432.3,ingles,1.0,120.0,120.0,120.0,100.0,60.0,520.0,sim
9607,"1,90E+11",Campinas,23,F,solterio,parda,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,416.3,486.2,529.9,399.6,ingles,1.0,160.0,120.0,120.0,140.0,140.0,680.0,sim

##Amostragem Estradificada
Divisão da população em grupos e seleção de uma amostragem simples dentro de cada grupo

In [139]:
# O grupo selecionada para esse exemplo foi raça
# Fazendo uma contagem dos dados
df_campinas['RACA'].value_counts()

branca           7507
parda            3652
preta            1510
amarela           279
nao_declarado     205
indigena           45
Name: RACA, dtype: int64

###Para quantidades pequenas de grupos

In [140]:
#Gerando semente aleatória; seed decididade de forma casual
np.random.seed(55)

Fazendo amostra aleatória simples para cada raça e verificando a quantidade de registros equivalente a 15%:

In [141]:
df_branca = df_campinas.loc[df_campinas.RACA == 'branca'].sample(frac=0.15)
df_branca.shape

(1126, 28)

In [142]:
df_parda = df_campinas.loc[df_campinas.RACA == 'parda'].sample(frac=0.15)
df_parda.shape

(548, 28)

In [143]:
df_preta = df_campinas.loc[df_campinas.RACA == 'preta'].sample(frac=0.15)
df_preta.shape

(226, 28)

In [144]:
df_amarela = df_campinas.loc[df_campinas.RACA == 'amarela'].sample(frac=0.15)
df_amarela.shape

(42, 28)

In [145]:
#nd = não declarado
df_nd = df_campinas.loc[df_campinas.RACA == 'nao_declarado'].sample(frac=0.15)
df_nd.shape

(31, 28)

In [146]:
df_indigena = df_campinas.loc[df_campinas.RACA == 'indigena'].sample(frac=0.15)
df_indigena.shape

(7, 28)

In [147]:
#Concatenando todos e criando um novo dataframe e agora temos a amostra estradificada por raça
df_estrad1 = pd.concat([df_branca,
                        df_parda,
                        df_preta,
                        df_amarela,
                        df_nd,
                        df_indigena])

In [148]:
df_estrad1.shape

(1980, 28)

In [149]:
df_estrad1.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
223078,"1,90E+11",Campinas,18,M,casado/uniao_est,branca,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,452.4,470.1,443.5,596.3,espanhol,1.0,100.0,120.0,120.0,120.0,40.0,500.0,sim
173099,"1,90E+11",Campinas,24,M,solterio,branca,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,509.3,604.5,534.3,526.7,espanhol,1.0,100.0,120.0,120.0,120.0,120.0,580.0,sim
291127,"1,90E+11",Campinas,17,F,solterio,branca,brasileiro,2,privada,35112773.0,Campinas,1,1,1,1,596.6,65.5,573.3,721.9,ingles,1.0,160.0,140.0,160.0,160.0,200.0,820.0,sim

###Para grandes quantidades de grupos
Para isso será necessário usara o sklearn que é um módulo da biblioteca scikit-learn do Python que fornece funções para selecionar modelos de machine learning. A função train_test_split divide um conjunto de dados em conjuntos de treinamento e teste. Nessa atividade, servirá para separar a amostra

In [150]:
from sklearn.model_selection import train_test_split

In [151]:
#Usando a função train_test para fazer uma amostra com 15% dos dados da coluna RAÇA
x_treino, x_teste, y_treino, amos_estrad2 = train_test_split(df_campinas.drop('RACA',axis=1),df_campinas['RACA'],
                                                    stratify=df_campinas['RACA'], test_size=0.15)

In [152]:
#Verificando se confere com o valor esperado
amos_estrad2.shape

(1980,)

In [153]:
amos_estrad2.value_counts()

branca           1126
parda             548
preta             226
amarela            42
nao_declarado      31
indigena            7
Name: RACA, dtype: int64

In [154]:
#Criando uma variável que contém a lista dos índices que fora separados
amos_estrad2 = amos_estrad2.index

In [155]:
#Obeservando índices da amostra estradificada
amos_estrad2

Int64Index([ 21124, 372825, 281587, 302417,  24832, 288294, 451929, 362955,
            272264, 246763,
            ...
            431328, 141583,  92743, 115322, 441881, 232723, 227079, 371830,
            169870, 230844],
           dtype='int64', length=1980)

In [156]:
# Criando o dataframe da amostragem estradificada usando os índices selecionados
df_estrad2 = df_campinas.loc[amos_estrad2,:]

In [157]:
df_estrad2.shape

(1980, 28)

In [158]:
# Temos agora um dataframe que representa a amostra estradificada pelo grupo da coluna raça, 
# com 15% dos classificados em cada raça
df_estrad2.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
21124,"1,90E+11",Campinas,20,F,solterio,branca,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,452.4,505.4,542.8,40.5,ingles,1.0,120.0,80.0,60.0,120.0,20.0,400.0,nao
372825,"1,90E+11",Campinas,18,M,solterio,branca,brasileiro,2,privada,35112689.0,Campinas,1,1,1,1,612.3,691.2,610.9,799.8,ingles,1.0,160.0,200.0,180.0,160.0,160.0,860.0,sim
281587,"1,90E+11",Campinas,17,F,nao_informado,preta,brasileiro,2,publica,NaN,NaN,1,1,1,1,365.1,47.9,394.6,455.1,ingles,1.0,40.0,40.0,40.0,40.0,0.0,160.0,sim

##Amostragem por Conglomerado(Agrupamento)
Divisão da população em grupos com características similares(escolas públicas), porém heterogêneas, e seleção aleatória de alguns grupos(de todas as escolas públicas algumas escolas) para analisar todos os elementos desse grupo.

In [159]:
df_campinas.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
15,"1,90E+11",Campinas,17,F,solterio,branca,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,422.9,496.5,509.6,496.5,ingles,1.0,160.0,120.0,140.0,140.0,120.0,680.0,sim
31,"1,90E+11",Campinas,19,F,solterio,parda,brasileiro,1,nao_respondeu,NaN,NaN,1,1,1,1,634.2,657.4,580.9,73.1,ingles,1.0,140.0,120.0,160.0,140.0,160.0,720.0,sim
51,"1,90E+11",Campinas,17,F,solterio,branca,brasileiro,2,publica,NaN,NaN,1,1,1,1,420.3,485.6,517.4,417.5,ingles,1.0,160.0,140.0,160.0,120.0,160.0,740.0,sim

In [160]:
#Separando o grupo dos estudantes de escolas públicas
dfe_publica = df_campinas.loc[df_campinas.ESCOLA == 'publica']

In [161]:
dfe_publica.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
51,"1,90E+11",Campinas,17,F,solterio,branca,brasileiro,2,publica,NaN,NaN,1,1,1,1,420.3,485.6,517.4,417.5,ingles,1.0,160.0,140.0,160.0,120.0,160.0,740.0,sim
116,"1,90E+11",Campinas,17,F,solterio,branca,brasileiro,2,publica,26078562.0,Lagoa do Ouro,1,1,1,1,39.7,488.1,472.5,480.5,espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,sim
325,"1,90E+11",Campinas,17,M,solterio,parda,brasileiro,2,publica,35907376.0,Campinas,1,1,1,1,443.3,465.8,55.8,509.3,ingles,1.0,80.0,120.0,100.0,100.0,80.0,480.0,sim

In [162]:
#Observando valores que ficaram na coluna ESCOLA
dfe_publica['ESCOLA'].unique()

array(['publica'], dtype=object)

In [163]:
#Contando os valores únicos
dfe_publica['ESCOLA'].value_counts()

publica    4175
Name: ESCOLA, dtype: int64

In [164]:
dfe_publica.shape

(4175, 28)

###Grupos para seleção da amostragem

In [165]:
#Agora o objetivo é separar os estudantes em grupos de cada escola a partir do código da escola
amostra = dfe_publica['CO_ESCOLA'].value_counts()
amostra

35045937.0    152
35018363.0    134
35018797.0    124
35018879.0    110
35018326.0    109
             ...
35462822.0      1
35058836.0      1
35112926.0      1
35017255.0      1
35047053.0      1
Name: CO_ESCOLA, Length: 186, dtype: int64

In [166]:
#o cód vai virar o índice
amostra.index

Float64Index([35045937.0, 35018363.0, 35018797.0, 35018879.0, 35018326.0,
              35047200.0, 35901097.0, 35045949.0, 35018235.0, 35018302.0,
              ...
              35018181.0, 35445757.0, 35045724.0, 35432842.0, 35039834.0,
              35462822.0, 35058836.0, 35112926.0, 35017255.0, 35047053.0],
             dtype='float64', length=186)

In [168]:
#Selecionar aleatóriamente 15% dos cód das escolas
amostragem = np.random.choice(a=[0,1],size=186, replace=True, p=[0.85, 0.15])

In [169]:
amostragem

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [172]:
#Colocndo os íncices das escolas selecionadas da amostra em uma variável
amos_conglomerado = amostra.loc[amostragem == 1]

In [173]:
amos_conglomerado

35047200.0    93
35018302.0    73
35047120.0    49
35018521.0    36
35018089.0    35
35905471.0    35
35018120.0    32
35924945.0    29
35903875.0    25
35018272.0    24
35907352.0    22
35923655.0    20
35040873.0    15
35018910.0    13
35018417.0    13
35065535.0     9
35430705.0     8
35047156.0     7
35018107.0     6
35118084.0     5
35123080.0     4
35112896.0     2
35462342.0     1
35009751.0     1
35985600.0     1
23128178.0     1
35112252.0     1
35138769.0     1
35018181.0     1
35017255.0     1
Name: CO_ESCOLA, dtype: int64

In [174]:
amos_conglomerado.index

Float64Index([35047200.0, 35018302.0, 35047120.0, 35018521.0, 35018089.0,
              35905471.0, 35018120.0, 35924945.0, 35903875.0, 35018272.0,
              35907352.0, 35923655.0, 35040873.0, 35018910.0, 35018417.0,
              35065535.0, 35430705.0, 35047156.0, 35018107.0, 35118084.0,
              35123080.0, 35112896.0, 35462342.0, 35009751.0, 35985600.0,
              23128178.0, 35112252.0, 35138769.0, 35018181.0, 35017255.0],
             dtype='float64')

In [177]:
#Criando um df  com as escolas selecionadas para a amostragem,
df_conglomerado = dfe_publica.loc[dfe_publica['CO_ESCOLA'].isin([35112859.0, 35905471.0, 35045950.0, 35018508.0, 35905461.0,
              35914897.0, 35125568.0, 35127012.0, 35037965.0, 35018910.0,
              35127784.0, 35925962.0, 35907397.0, 35118084.0, 35579403.0,
              35458569.0, 35985296.0, 35045724.0, 35150095.0, 35138769.0,
              35337833.0, 35500012.0, 26127741.0, 35462342.0, 35445757.0,
              35058836.0, 35035956.0])]

In [178]:
df_conglomerado.shape

(293, 28)

In [179]:
#Este df contém a amostra que contém todos os alunos das escolas(grupos) que possuem uma similaridade(são  escolas públicas)
df_conglomerado.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
2066,"1,90E+11",Campinas,17,F,solterio,parda,brasileiro,2,publica,35905471.0,Campinas,1,1,1,1,596.1,610.6,594.9,598.8,ingles,1.0,160.0,200.0,200.0,200.0,180.0,940.0,sim
5050,"1,90E+11",Campinas,17,F,solterio,branca,brasileiro,2,publica,35045950.0,Limeira,1,1,1,1,604.4,62.0,59.5,728.7,ingles,1.0,140.0,160.0,140.0,140.0,140.0,720.0,sim
5267,"1,90E+11",Campinas,17,F,solterio,branca,brasileiro,2,publica,35905461.0,Campinas,1,1,1,1,423.9,479.7,471.1,416.5,ingles,1.0,120.0,140.0,120.0,100.0,80.0,560.0,sim
6279,"1,90E+11",Campinas,17,F,solterio,branca,brasileiro,2,publica,35907397.0,Campinas,1,1,1,1,440.5,401.1,445.2,541.4,espanhol,1.0,100.0,120.0,80.0,80.0,80.0,460.0,sim
6389,"1,90E+11",Campinas,17,M,solterio,parda,brasileiro,2,publica,35112859.0,Campinas,1,1,1,1,525.3,53.3,474.9,614.4,ingles,1.0,120.0,120.0,120.0,120.0,100.0,580.0,sim